
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */
 
 
 /**RESET */
 * {
     box-sizing: border-box;
 }
 *,
 *::before,
 *::after {
box-sizing: inherit;
 }

 
 
 body{
     margin:0;
     padding:0;
 }
 /**KARMA STYLES */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
header {
    height:70px;
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    background-color: white;
   
}

header ul {
    display:flex;
    flex-direction: row;
}

h1{
    margin:0;
}

.introduccion{
    background-image: url("../img/first-background.jpg");
    min-height: 400px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.offer{
    padding: 130px 0;
    text-align:center
}

.offer figure{
    margin-bottom: 30px;    
}

.offer img{
    width: 127px;
 }


@media screen and (min-width:700px){
    .offer div{
        display:flex ;
        justify-content: center;
    }
}



p{
    font-size: 40px;
    margin-top: auto;
    text-align: center;
}




footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-bottom: 150px;
}

 
 
 
 button {

    background-color: orangered;
    border-color: orangered;
    padding: 1rem 1rem;
    color: white;
    font-size: 1rem;
    
}


button:hover {
    background-color: #e96134;
    border-color: #e96134;
    cursor: pointer;
}


 